:root {
    --Azul_scuro: #0b1722;
    --laranja: #eb782b;
    --darkorange: #eb782b28;
    --bra: #f5f7f3;
    --azul: #30b5c3;
    --Azuli: #0a233b;

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--Azuli);
    color: var(--bra);
    font-size: 1.6rem;
    

}

header {
    width: 100%;
    height: 7rem;
    background-color: var(--Azul_scuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.DevZone-log {
    color: var(--laranja);
    font-size: 1.9rem;
    margin-left: 5%;
}

.navBar {
    margin-right: 5%;
}

.navBar ul {
    display: flex;
    list-style-type: none;

}

.navBar ul a,
.walcame button a {
    color: var(--bra);
    margin-left: 1rem;
    padding: 0.2rem 0.5rem 0rem 0.5rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navBar ul a:hover {
    border-top: 0.2rem solid var(--laranja);
}

#home {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.walcame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
    width:40%;
}

.DevZone_logo {
    margin-top: 10rem;
    width:60%;
    text-align: end;
}

h2 {
    text-align: center;
    letter-spacing: .8rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 400;

}

.bt_justaSe {
    width: 50%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    
}

.bt_justaSe button{
    width: auto;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.7rem;
    background-color: var(--laranja);
    cursor: pointer;
}

.bt_justaSe button:hover {
    letter-spacing: 0.1rem;
    transform:translate(-1, -1);
    text-transform: uppercase;
}



#sobre {
    margin-top: 40rem;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.sobre {
    display: flex;
}

.head {
    text-align: center;
    letter-spacing: .8rem;
    font-size: 3.8rem;
    margin-bottom: 2rem;
}

.block_1,
.block_2,
.block_3 {
    margin: 1rem;
    box-shadow: 10px 10px 10px #0b1722;

}

.block_2 {
    margin-top: 5rem;
}

.block_3 {
    margin-top: 8rem
}


#beneficio {
    margin-top: 30rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 60vh;
}

.servico {
    display: flex;
   
}

.form {
    display: flex;
    border: 1px solid var(--azul);
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #0b1722;
    height: 30rem;
    width: 30%;
    max-width: 33.3%;
    margin: 0rem 1rem;
    margin-top: 7rem;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}

.form:hover {
    background-color: var(--Azul_scuro);
    box-shadow: rgba(0, 0, 255, 0.25) 0px 50px 100px -20px, rgba(255, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 128, 255, 0.35) 0px -2px 6px 0px inset;
    margin-top: -0.1rem;

}

.form h4 {
    font-size: 2rem;
}

.form h4,
p {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    text-align: justify;

}


#CTA {
    margin-top: 10rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#CTA .seta img {
    display: flex;
    justify-content: center;
    margin: auto;
}

#CTA .bt_for {
    display: block;
    margin: auto;
    margin-top: 0px;
    padding: 10px 150px;
    border-radius: 24px;
    border: none;
    color: var(--bra);
    background-color: var(--laranja);
    font-size: 3rem;
    box-shadow: var(--Azul_scuro) 1.95px 1.95px 2.6px;


}


#CTA .bt_for a {
    text-decoration: none;
    color: var(--bra);
}


#CTA .bt_for a:hover {
    text-decoration: underline;
    letter-spacing: .2rem;
    transform:translate(-3, -3);
    text-transform: uppercase;
}

.cont {
    display: flex;
    justify-content: space-between;
    background-color: var(--Azul_scuro);
    height: 100%;
    margin-top: 10rem;
    width: 100%;
    height: 9rem;
}

.footer_cont {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 5%;

}

.social_net {
    margin-top: 2rem;
    margin-right: 5%;
}

.social_net a img {
    margin-top: 1rem;
    margin-left: .5rem;
    width: 3.1rem;
    height: 3.1rem;
}